name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches: []

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm install ; npm install -g bun ;

    - name: Run tests
      run: npm test
